[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.4.1"
"backports.zoneinfo" = "==0.2.1"
sqlparse = "==0.4.2"
Django = "==4.0.1"
Pillow = "==9.0.0"
weasyprint = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
server          = "python manage.py runserver"
migrate         = "python manage.py migrate"
startapp        = "python manage.py startapp"
makemigrations  = "python manage.py makemigrations"
createsuperuser = "python manage.py createsuperuser"
collectstatic = "python manage.py collectstatic"
