<style>
    @page {
        size: "A4";
        margin: -15px;
    }
    body {
        width: 100% !important;
        height: 100%;
        background: #fbfef9;
        color: #230903;
        font-size: 100%;
        line-height: 1.65;
        font-family: 'Roboto', sans-serif;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none; 
    }
    table {
        width: 100%;
        border: 0px;
        padding: 0px;
        margin: 0px;
    }
    .head{
        height: 300px;
    }
    .photo {
        background-color: #39a0ed;
        width: 250px;
    }
        .photo img{
            margin-left:25px;
            width: 200px;
            height: 200px;
            border-radius: 50% 50%;
        }
    .description {
        background-color: #A6C9BB;
        color: #230903;
    }
        .description h1{
            padding-left: 15px;
            margin-top: -100px;
            font-weight: bolder;
        }
        .description h2 {
            padding-left: 18px;
        }
        .description p {
            padding-left: 20px;
            margin-bottom: -100px;
        }
        .social{
            padding-top: 120px;
        }
            .social img{
                height: 30px;
                padding-right: 10px;
                margin-bottom: 5px;
            }
        .sidebar {
            position:fixed;
            top:0;
            left:0;
            background-color: #2e4756;
            width: 265px;
            height: 1800px;
            color: #fbfef9;
            z-index: -10;
        }
            .sidebar h5{
                text-decoration: underline;
                padding-top: 15px;
                text-align: center;
                color: #A6C9BB;
            }
            .sidebar ul{
                padding-left: 10px;
            }

                .sidebar ul li{
                    font-size: 14px;
                    list-style: none;
                }
            .sidebar hr{
                background-color: #A6C9BB;
                margin: 20px 50px;
            }
    
    .tech-container{
        width: 100%;
        text-align: center;
    }
        .tech-container img{
            height: 35px;
            padding: 0px 5px;
            padding-bottom: 5px;
        }
    .education-title{
        height:50px; 
    }
    .education{
        height:220px; 
    }
        .education p{
            padding-left: 10px;
        }
            .education p img{
                height:50px;
            }

    .edu-description{
        margin-left: 60px;
        margin-right: 80px;
    }
    .experience-title{
        height:50px; 
    }
    .experience{
        height:920px; 
    }
    .body-title{
        text-decoration: underline;
        text-align: center;
    }
    .certificates{
        padding-left: 25px;
    }
    .certificates br{
        padding-top: 0px;
        margin-top: 0px;
    }
    .job{
        padding-left: 15px;
    }
        .job img{
            height: 70px;
            padding-bottom: 15px;
        }
    .job-tech{
        padding-left: 60px;
    }
        .job-tech img{
            height: 50px;
        }

    .sidebar_two{
        min-height: 1800px;
    }
</style>